html {
	background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalwhite.png);
}

header {
	background-color: #fff;
	overflow: auto;
	width: 100%;
	border: solid;
	border-color: #ccc;
	border-width: .05px;
}

header h1 {
	margin: -2.5px 0px 0px 125px;
	background-color: #4aaaad;
	color: #fff;
	padding: 20px;
	float: left;
	position: relative;
}

ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: relative;
}

li {
	float: left;
}

li a {
	text-decoration: none;
	display: inline-block;
	padding: 20px;
	text-align: center;
	color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

section {
	clear: both;
	width: 960px;
	margin-top: 30px;
}

h2, h1 {
	color: #4aaaad;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: blue;
}

.mainContent {
	float: left;
	background-color: #fff;
	border-color: #dddddd;
	border: solid;
	border-width: .05px; 
	width: 650px;
	position: relative;
	
}

#bio-image {
	float: left;
}

.mainContent p {
	color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.social {
	float: right;
	background-color: #fff;
	width: 270px;
	position: relative;
	border-color: #dddddd;
	border: solid;
	border-width: .05px; 
}

.footer {
	clear: both;
	padding: 20px;
	background-color: #666;
	text-align: center;
	color: #fff;
	margin-bottom: 0;

}